# --- USER CONFIG --- #
# ATLAS server common options - use atlas_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
serverMap=${SERVERMAP}                                                # server map (default Ocean)
#serverMapModId="469987622"                                           # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#atlas_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
atlasflag_ServerPassword=${SERVERPASSWORD}                            # ATLAS server password, empty: no password required to login
atlasflag_ServerAdminPassword=${ADMINPASSWORD}                        # ATLAS server admin password, KEEP IT SAFE!
atlas_MaxPlayers=${NBPLAYERS}                                         # Number MAX of player

#atlas_SeamlessIP=1.2.3.4                                             # Set your Seamless IP here for all instances on this server.
#atlas_GridConfig="ServerGrid.json"                                   # Uncomment and enter filename of json file for your map grid if not default.
atlasflag_log=true
atlasflag_server=true
atlas_culture="en"
atlas_MapPlayerLocation="True"
atlasflag_NoCrashDialog=true
#atlasflag_NoBattlEye=true                                            # Uncomment this to disable BattlEye for all instances.
atlasflag_manualmanagedmods=true

# ----- Mods ----- #
#atlas_GameModIds="487516323,487516324,487516325"                     # Uncomment to specify additional mods by Mod Id separated by commas
# Mod OS Selection
mod_branch=Windows
# Add mod-specific OS selection below:
#mod_branch_496735411=Windows
# ----------------#

# alternate configs
# example for config name "atlas1":
#configfile_atlas1="/path/to/config/file"

# ATLAS server flags - use atlasflag_<optionname>=true
#atlasflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#atlasflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die

# ATLAS server options - i.e. for -optname=val, use atlasopt_optname=val
#atlasopt_StructureDestructionTag=DestroySwampSnowStructures

#atlas_AltSaveDirectoryName="SotF"                                    # Uncomment to specify a different save directory name

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ATLAS server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ATLAS server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ATLAS server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ATLAS server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ATLAS server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ATLAS server will shutdown in %d seconds"
msgWarnCancelled="Restart cancelled by player request"

# config environment
atlaswarnminutes="60"                                                 # number of minutes to warn players when using update --warn
atlasBackupPreUpdate="false"                                          # set this to true if you want to perform a backup before updating

# Options to automatically remove old backups to keep backup size in check
# Each compressed backup is generally about 1-2MB in size.
atlasMaxBackupSizeMB="500"                                            # Set to automatically remove old backups when size exceeds this limit
#atlasMaxBackupSizeGB="2"                                             # Uncomment this and comment the above to specify the limit in whole GB

# Redis config
redis_config_file="/atlas/server/AtlasTools/RedisDatabase/redis.conf" # Config suitable for single node deployment is pulled as part of steamdl
