# --- SYSTEM CONFIG - DO NOT TOUCH ---#

atlasstChannel=${BRANCH}                                              # change it to a different branch to get non-stable versions
install_bindir="/usr/bin"
install_libexecdir="/usr/libexec/atlasmanager"
install_datadir="/usr/share/atlasmanager"

# config SteamCMD
steamcmdroot="/home/steam/steamcmd"                                   # path of your steamcmd instance
steamcmdexec="steamcmd.sh"                                            # name of steamcmd executable
steamcmd_user="steam"                                                 # name of the system user who own steamcmd folder
steamcmd_appinfocache="/home/steam/Steam/appcache/appinfo.vdf"        # cache of the appinfo command
steamcmd_workshoplog=""/home/steam/Steam/logs/workshop_log.txt"       # Steam workshop log

# config environment
atlasserverroot="/atlas/server"                                       # path of your ATLAS server files (default ~/ARK)
atlasserverexec="ShooterGame/Binaries/Linux/ShooterGameServer"        # name of ATLAS server executable
atlasbackupdir="/atlas/backup"                                        # path to backup directory
atlasautorestartfile="ShooterGame/Saved/.autorestart"                 # path to autorestart file
atlasStagingDir="/atlas/staging"  

# config Service
servicename="atlasserv"                                               # Name of the service (don't change if you don't know what are you doing)
logdir="/atlas/log/"                                                  # Logs path (default /var/log/atlastools)

# Port config 
atlas_Port=${STEAMPORT}                                               # ARK server port (default 5750)
atlas_QueryPort=${SERVERPORT}                                         # ARK query port (default 57550)
atlas_RCONEnabled="True"                                              # Enable RCON Protocol
atlas_RCONPort="32330"="32330"                                        # RCON Port

# steamdb specific
appid=1006030                                                         # Linux server App ID
mod_appid=834910                                                      # App ID for mods

# Need to be true to work with UPDATEPONSTART (See #10)
atlasAutoUpdateOnStart="false"                                        # set this to true if you want to always update before startup

defaultinstance="main"

# We don't use the dots because it doesn't show.
progressDisplayType=spinner

source /atlas/atlasmanager.cfg
